* {
	margin: 0;
}

body {
	font-family: 'Arvo', serif;
}

.container {
	margin: 0 10px;
}

.content {
	display: flex;
	justify-content: center;
	margin: 0 10px;
}


.title_1 {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 30px;
}


.image_box {
	background-image: url("../images/corps.png");
	width: 139px;
	height: 498px;
}

.bouton {
	background-color: rgba(50,50,50,0.7);
	height: 50px;
	width: 50px;
	border-radius: 100%;
	position: relative;
}

.selected {
	display: block;
}

.box:not(.selected) {
	display: none;
}

.bouton.selected {
	background: rgba(255, 0, 0, 0.7);
}

.epaule {
	top: 17%;
}

.bras {
	top: 26%;
	left: 70%;
}

.main {
	top: 24%;
	left: -6%;
}

.jambe {
	top: 17%;
	left: 57%;
}

.genou {
	top: 28%;
	left: 16%;
}

.pied {
	top: 35%;
	left: 45%;
}

.description {
	width: 60%;
	border-radius: 10px;
	margin-left: 15px;

}

.box {
	height: 450px;
	padding: 10px;
}

.class_epaule:not(.selected) {
		background-image: url("../images/epaule.jfif");
	}

	.class_bras:not(.selected) {
		background-image: url("../images/bras.gif");
	}

	.class_main:not(.selected) {
		background-image: url("../images/main.jpg");
	}

	.class_jambe:not(.selected) {
		background-image: url("../images/jambe.jpg");
	}

	.class_genou:not(.selected) {
		background-image: url("../images/genou.jfif");
	}

	.class_pied:not(.selected) {
		background-image: url("../images/pied.jpg");
	}

.title_2 {
}

.text {
	height: 95%;
	margin-top: 10px;
	overflow-y: scroll;
	border-radius: 5px;
}

.text::-webkit-scrollbar {
	width: 0;
}

@media screen and (min-width: 768px) {
	body {
		background-image: url("../images/background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	.description {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: start;
		height: 500px;
	}

	.box {
		width: 25%;
		max-height: 200px;
		border-radius: 10px;
		margin-top: 20px;
	}

	.box:not(.selected) {
		display: block;
		opacity: 0.8;
		box-shadow: 2px 2px 2px orange;
		background-position: 60%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.box.selected {
		opacity: 1;
		background-image: unset;
		box-shadow: 2px 2px 2px black;
	}

	.text {
		height: 75%;
	}

	.box:not(.selected) > .text, .box:not(.selected) > .title_2 {
		visibility: hidden;
	}

}


/* background de la radio de chaque membre qui fade out quand le fade in */