* {
	margin: 0;
}

body {
	font-family: 'Arvo', serif;
	background-image: url("../images/background_mobile.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 55%;
}

.container {
}

.content {
	display: flex;
	justify-content: center;
}


.title_1 {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 30px;
}


.image_box {
	background-image: url("../images/corps.png");
    background-repeat: no-repeat;
    margin-left: 20px;
    padding-right: 99px;
    height: 498px;
}

.bouton {
	background-color: rgba(50,50,50,0.7);
	height: 50px;
	width: 50px;
	border-radius: 100%;
	position: relative;
	cursor: pointer;
}

.selected {
	display: block;
}

.box {
	height: 470px;
	padding: 10px;
}

.box:not(.selected) {
	display: none;
}

.box:not(.selected).instructions {
	display: block;
}

.bouton.selected {
	background: rgba(255, 0, 0, 0.7);
}

.bouton[data-member-name="epaule"] {
	top: 17%;
}

.bouton[data-member-name="bras"] {
	top: 26%;
	left: 200%;
}

.bouton[data-member-name="main"] {
	top: 24%;
	left: -20%;
}

.bouton[data-member-name="jambe"] {
	top: 18%;
	left: 156%;
}

.bouton[data-member-name="genou"] {
	top: 28%;
	left: 43%;
}

.bouton[data-member-name="pied"] {
	top: 35%;
	left: 130%;
}

.description {
	max-width: 200px;
	min-width: 50%;
	border-radius: 10px;

}

.box[data-member-name="epaule"] {
	background-image: url("../images/epaule.jfif");
}

.box[data-member-name="bras"] {
	background-image: url("../images/bras.gif");
}

.box[data-member-name="main"] {
	background-image: url("../images/main.jpg");
}

.box[data-member-name="jambe"] {
	background-image: url("../images/jambe.jpg");
}

.box[data-member-name="genou"] {
	background-image: url("../images/genou.jfif");
}

.box[data-member-name="pied"] {
	background-image: url("../images/pied.jpg");
}

.description .box.selected {
	background-image: unset;
}

.instructions > .title_2 {
	font-size: 6vw;
	padding-top: 10vh;
}

.instructions > .text {
	padding-top: 10vh;
	line-height: 4vh;
}

.text {
	height: 90%;
	margin-top: 10px;
	overflow-y: scroll;
	border-radius: 5px;
}

.text::-webkit-scrollbar {
	width: 0;
}

@media screen and (min-width: 768px) {

	.description > .box.instructions {
		display: none;
	}

	body {
		background-image: url("../images/background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	.description {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: start;
		height: 500px;
	}

	.box {
		width: 25%;
		max-height: 200px;
		border-radius: 10px;
		margin-top: 20px;
	}

	.box:not(.selected) {
		display: block;
		opacity: 0.8;
		box-shadow: 5px 5px 5px inset;
		background-position: 60%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.box.selected {
		opacity: 1;
		background-image: unset;
		box-shadow: 2px 2px 2px black;
	}

	.text {
		height: 75%;
	}

	.box:not(.selected) > .text, .box:not(.selected) > .title_2 {
		visibility: hidden;
	}

}


/* background de la radio de chaque membre qui fade out quand le fade in */