* {
	margin: 0;
}

/* Screen Size < 768px */
body {
	font-family: 'Arvo', serif;
	background-image: url("../images/background_mobile.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 37%;
}

audio {
    top: 0;
    height: 3%;
    position: fixed;
}

/* Header */
.content {
	display: flex;
	justify-content: center;
}


.title_1 {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 30px;
	background-color: #082129;
	color: white;
	border-radius: 20px;
	width: 65%;
}
/* !Header */

/* Body Picture Items */
.image_box {
	background-image: url("../images/corps.png");
    background-repeat: no-repeat;
    margin-left: 20px;
    padding-right: 99px;
    height: 498px;
}

.bouton {
	background-color: rgba(50,50,50,0.7);
	height: 50px;
	width: 50px;
	border-radius: 100%;
	position: relative;
	cursor: pointer;
	transition: 500ms;
}

.bouton.selected {
	background: rgba(255, 0, 0, 0.7);
}

.bouton[data-member-name="epaule"] {
	top: 17%;
}

.bouton[data-member-name="bras"] {
	top: 26%;
	left: 200%;
}

.bouton[data-member-name="main"] {
	top: 24%;
	left: -20%;
}

.bouton[data-member-name="jambe"] {
	top: 18%;
	left: 156%;
}

.bouton[data-member-name="genou"] {
	top: 28%;
	left: 43%;
}

.bouton[data-member-name="pied"] {
	top: 35%;
	left: 130%;
}

.selected {
	display: block;
}
/* ! Body Picture Items */

/* Descriptions */
.description {
	max-width: 200px;
	min-width: 50%;
	margin-left: 5px;
	margin-right: 5px;
}
.box {
	height: 470px;
	padding: 10px;
	transition: 500ms;
	border-radius: 5%;
}

.box:not(.selected) {
	display: none;
}

.box:not(.selected).instructions {
	display: block;
	background-color: #082129;
	color: white;
	background-image: unset;
	font-family: 'Cormorant', serif;
	font-size: 20px;
}

.box[data-member-name="epaule"] {
	background-image: url("../images/epaule.jfif");
}

.box[data-member-name="bras"] {
	background-image: url("../images/bras.gif");
}

.box[data-member-name="main"] {
	background-image: url("../images/main.jpg");
}

.box[data-member-name="jambe"] {
	background-image: url("../images/jambe.jpg");
}

.box[data-member-name="genou"] {
	background-image: url("../images/genou.jfif");
}

.box[data-member-name="pied"] {
	background-image: url("../images/pied.jpg");
}

.box.selected {
	background-color: #082129;
	color: white;
	background-image: unset;
	font-family: 'Cormorant', serif;
	font-size: 20px;
}

.instructions > .title_2 {
	font-size: 6vw;
	padding-top: 10vh;
}

.instructions > .text {
	padding-top: 10vh;
	line-height: 4vh;
	height: 64%;
}

.text {
	height: 90%;
	margin-top: 10px;
	overflow-y: scroll;
	border-radius: 5px;
}

.text::-webkit-scrollbar {
	width: 0;
}
/* ! Descriptions */

/* Screen Size >= 768 */
@media screen and (min-width: 768px) {

	body {
		background-image: url("../images/background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	.title_1 {
		text-align: center;
		margin: 30px auto 40px 0;
		background-color: rgba(0, 0, 0, 0.85);
		color: orange;
		width: 50%;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		border-radius: 0px 25px 25px 0px;
	}
/* Descriptions */
	.description > .box.instructions {
		display: none;
	}

	.description .box.selected {
		background-color: rgba(0, 0, 0, 0.9);
		background-image: unset;
		color: orange;
		border-radius: 5%;
		font-family: 'Cormorant', serif;
		font-size: 20px;

	}

	.description {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: start;
		height: 500px;
		min-width: 65%;
	}

	.box {
		width: 25%;
		max-height: 200px;
		border-radius: 10px;
		margin-top: 20px;
	}

	.box:not(.selected) {
		display: block;
		opacity: 0.8;
		box-shadow: 0px 0px 2px 5px inset;
		background-position: 60%;
		background-size: cover;
		background-repeat: no-repeat;
	}


	.box.selected {
		opacity: 1;
		background-image: unset;
		box-shadow: 0px 0px 4px 6px rgba(121, 77, 13, 0.9);
	}

	.text {
		height: 75%;
	}

	.box:not(.selected) > .text, .box:not(.selected) > .title_2 {
		visibility: hidden;
	}
	.box.selected > .text {
		overflow: auto;
	}
/* ! Descriptions */
}

